<div class="title-container">
  <div>
    <div class="ascii-art">
      &nbsp;&nbsp;&nbsp;/| 、<br />
      (º、。７ &nbsp;&nbsp;&nbsp;&nbsp;█░█░█ █▀▀ █░░ █▀▀ █▀█ █▀▄▀█ █▀▀ <br />
      &nbsp;&nbsp;|、&nbsp; ~、
      &nbsp;&nbsp;&nbsp;&nbsp;▀▄▀▄▀ ██▄ █▄▄ █▄▄ █▄█ █░▀░█ ██▄ <br />
      &nbsp;じしｆ_,)/<br />
    </div>
    <div id="terminal-line">
      <span id="cursor-line">$ </span
      ><span id="cursor-command" span>welcome</span>
      <div [ngClass]="['cursor', blink]"></div>
    </div>
  </div>
</div>
