.container-project {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 16px auto;
}

.project-go-back {
  color: #FFF;
  font-size: 36px;
  width: fit-content;
}

.project-image {
  width: 100%;
  height: 320px;
  max-height: 320px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 7px 29px 0px;
}

.project-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-title, .project-techs, .project-link {
  margin-top: 16px;
}

.project-title {
  padding: 4px 5px;
  border-radius: 8px;
  width: fit-content;
  background-color: rgb(47, 0, 255);
  font-size: 22px;
}

.project-link {
  color: #FFF;
  text-decoration: underline;
}
