.container-front-techs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 8px;
  margin: 32px auto;
}
 .container-front-techs > img {
  width: 100%;
  height: 32px;
  object-fit: contain;
  background-color: #4614db;
 }
